@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prestigious";
  src: url("/fonts/Prestigious.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Prestigious", serif;
}